<section class="content">
	<div class="row">
	
		<div class="col-lg-3 col-xs-6" ng-if="idUserRole!=0">
			
			<div class="small-box bg-green">
				<div class="inner">
					<h3>Income<sup style="font-size: 20px"></sup></h3>

					<p>Income Panel</p>
				</div>
				<div class="icon">
					<i class="ion ion-stats-bars"></i>
				</div>
				<a ui-sref="income" class="small-box-footer">Go <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<div ng-if="idUserRole!=0" class="col-lg-3 col-xs-6">
			
			<div class="small-box bg-yellow">
				<div class="inner">
					<h3>Expense</h3>

					<p>Expense Panel</p>
				</div>
				<div class="icon">
					<i class="ion ion-person-add"></i>
				</div>
				<a ui-sref="expense" class="small-box-footer">Go <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		
		<div class="col-lg-3 col-xs-6" ng-if="idUserRole!=0">
			<div class="small-box bg-green">
				<div class="inner">
					<h3>Project</h3>

					<p>Project creation panel</p>
				</div>
				<div class="icon">
					<i class="ion ion-pie-graph"></i>
				</div>
				<a ui-sref="project" class="small-box-footer">Go <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>

		<div class="col-lg-3 col-xs-6" ng-if="idUserRole!=0">
			<div class="small-box bg-yellow">
				<div class="inner">
					<h3>Setting</h3>

					<p>G/L creation panel</p>
				</div>
				<div class="icon">
					<i class="ion ion-pie-graph"></i>
				</div>
				<a ui-sref="setting" class="small-box-footer">Go <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>

    </div>
</section>
    