
<section class="content">

	<div class="row">
		<div class="col-md-10">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">Deposited Panel</h3>
					<button type="submit" ui-sref="incomeList" class="btn btn-warning pull-right">Deposited List</button>

				</div>
				<form id="register-form" class="form-horizontal" name="incomeForm" novalidate>
					<div class="box-body">
						
						<div class="form-group">
							<label for="project" class="col-sm-2 control-label">Select Project<span style="color: red">&nbsp;*</span></label>

							<div class="col-sm-10 has-success" ng-class="{'has-error': incomeForm.project.$dirty &amp;&amp;incomeForm.project.$error.required ,  'has-success': incomeForm.project.$valid}">
								<select ng-change="getAllGlList(income.project)"  name="project" ng-model="income.project" class="select2dropdown form-control ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" ng-required="true" style="width: 100%;">
									<option value="">Select Project...</option>
									<option ng-repeat="(key, value) in project" value="{{value.project_id}}">{{value.project_name}}</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="gl" class="col-sm-2 control-label">Select Income G/L<span style="color: red">&nbsp;*</span></label>

							<div class="col-sm-10 has-success" ng-class="{'has-error': incomeForm.gl.$dirty &amp;&amp;incomeForm.gl.$error.required ,  'has-success': incomeForm.gl.$valid}">
								<select  name="gl" ng-model="income.gl" class="select2dropdown form-control ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" ng-required="true" style="width: 100%;">
									<option value="">Select G/L...</option>
									<option ng-repeat="(key, value) in gls" value="{{value.gl_id}}">{{value.gl_name}}</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="type" class="col-sm-2 control-label"> Date <span style="color: red">&nbsp;*</span></label>

							<div class="col-sm-10 ">
								
								<input type="date" required class="form-control pull-right"  name="type" ng-model="income.type">
							</div>

						</div>
						
						
						<div class="form-group" >
							<label for="amount" class="col-sm-2 control-label">Amount<span style="color: red">&nbsp;*</span></label>

							<div class="col-sm-10  has-success" ng-class="{'has-error': incomeForm.amount.$dirty &amp;&amp;incomeForm.amount.$error.required ,  'has-success': incomeForm.amount.$valid}">
								<input type="number"  class="form-control ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" id="amount" name="amount" ng-model="income.amount" ng-required="true" placeholder="Amount in BDT">
							</div>
						</div>
						<div class="form-group" >
							<label for="desc" class="col-sm-2 control-label">Description<span style="color: red">&nbsp;*</span></label>

							<div class="col-sm-10  has-success" ng-class="{'has-error': incomeForm.desc.$dirty &amp;&amp;incomeForm.desc.$error.required ,  'has-success': incomeForm.desc.$valid}">
								<input type="text"  class="form-control ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" id="desc" name="desc" ng-model="income.desc" ng-required="true" placeholder="Description">
							</div>
						</div>

						
					</div>
					<div class="box-footer">
						<button type="submit" ng-click="createIncome()" class="btn btn-info pull-right">Submit</button>
					</div>
				</form>
			</div>
			
		</div>
	</div>
	<!-- <pre>
		{{income|json}}
	</pre>  -->
	
</section>


