<div style="margin-left: 2%; margin-right: 2%">

  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Project List</h3>
    </div>
    <div class="box-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Project Name<br/><input ng-model="search.project_name" class="form-control input-sm"></th>
            <th>Description<br/><input ng-model="search.project_desc" class="form-control input-sm"></th>
            <!-- <th >Expense Amount<br/><input ng-model="search.extotal" class="form-control input-sm"></th> -->
            <!-- <th >Income Amount<br/><input ng-model="search.intotal" class="form-control input-sm"></th> -->
            <th>Action</th>

          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, value) in filteredTodosKKK | filter:{project_name: search.project_name, project_desc: search.project_desc, extotal: search.extotal,intotal: search.intotal}">
            <td>{{value.project_name}}</td>                
            <td>{{value.project_desc}}</td>      
            <!-- <td>{{value.extotal}}</td> -->
            <!-- <td>{{value.intotal}}</td> -->
            <td><a ui-sref="projectDetails({ id: value.project_id })"><i class="fa fa-eye" aria-hidden="true">&nbsp;View</i></a></td>

          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Project Name</th>
            <th>Description</th>
            <!-- <th>Expense Amount</th> -->
            <!-- <th>Income Amount</th> -->


          </tr>
        </tfoot>
      </table>
    </div>

  </div>
  <pagination 
  ng-model="currentPageKKK"
  total-items="expenseList.length"
  max-size="maxSizeKKK"  
  items-per-page="numPerPageKKK"
  boundary-links="true">
</pagination>

</div>